* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* normalizar los enlaces para que no tengan estilos y un color especifico */

ol,
ul {
    list-style: none;
}

a {
    list-style-type: none;
    text-decoration: none;
}

h1 {
    color: green;

}

.header {
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    height: 20vh;
    align-items: center;
}

.header img {
    width: 100px;
}

.header nav {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.header nav div a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid white;
    padding: 1rem;
}

.header nav div a:hover {
    padding: 1.5rem 1rem;
}